In [0]:
#this SQL code is used to create five tables, which are FoodOrder, Food, User, PaymentHistory, and Deliverty 
#we insert five data pieces into each attribute and use the data to solve some questions that interest us
#Group 19 Group Assignment 

import sqlite3
connectionToDatabase = sqlite3.connect('FoodDelivery') 
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS FoodOrder''')
connectionToDatabase.commit()


cursor.execute('''create table FoodOrder (orderID text PRIMARY KEY, foodID, userID)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Food''')
connectionToDatabase.commit()

cursor.execute('''create table Food (foodID text PRIMARY KEY, Appetizers, FoodPrice, FoodRecommendation, Entree, Dessert, Drink)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS User''')
connectionToDatabase.commit()

cursor.execute('''create table User (userID text PRIMARY KEY, FirstName, LastName, userPhoneNum, HouseNumber, historyID, Street)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS PaymentHistory''')
connectionToDatabase.commit()

cursor.execute('''create table PaymentHistory (historyID text PRIMARY KEY, userID, orderID, serviceRanking, PaymentMethod, TipAmount)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Delivery''')
connectionToDatabase.commit()

cursor.execute('''create table Delivery (deliveryID text PRIMARY KEY, EmployeeFirstName, EmployeeLastName, EmployeePhoneNum, TimelineTrack, userID)''')
connectionToDatabase.commit()

In [0]:

cursor.execute('''insert into FoodOrder values ('01', '45', 'F-12');''')
connectionToDatabase.commit()
cursor.execute('''insert into FoodOrder values ('02', '67', 'M-45');''')
connectionToDatabase.commit()
cursor.execute('''insert into FoodOrder values ('03', '78', 'F-3');''')
connectionToDatabase.commit()
cursor.execute('''insert into FoodOrder values ('04', '23', 'M-6');''')
connectionToDatabase.commit()
cursor.execute('''insert into FoodOrder values ('05', '86', 'F-23');''')
connectionToDatabase.commit()


cursor.execute('''insert into Food values ('45', '03', '8.5','chicken','A','N','juice');''')
connectionToDatabase.commit()
cursor.execute('''insert into Food values ('67', '01', '12.5','beef','D','N','cola');''')
connectionToDatabase.commit()
cursor.execute('''insert into Food values ('78', '04', '9.0','fish','C','Y','cola');''')
connectionToDatabase.commit()
cursor.execute('''insert into Food values ('23', '02', '13.5','chicken','B','N','cola');''')
connectionToDatabase.commit()
cursor.execute('''insert into Food values ('86', '03', '10.9','beef','A','Y','juice');''')
connectionToDatabase.commit()


cursor.execute('''insert into User values ('F-12', 'Susan', 'Taylor','8456789876','1242','12','vairo');''')
connectionToDatabase.commit()
cursor.execute('''insert into User values ('M-45', 'Paul', 'William','2435456556','1234','45','toftree');''')
connectionToDatabase.commit()
cursor.execute('''insert into User values ('F-3', 'Adele', 'Park','3354532456','1424','03','vairo');''')
connectionToDatabase.commit()
cursor.execute('''insert into User values ('M-6', 'Ken', 'Jarek','2344324423','0705','06','vairo');''')
connectionToDatabase.commit()
cursor.execute('''insert into User values ('F-23', 'Diana', 'Wang','7685738473','0934','23','atherton');''')
connectionToDatabase.commit()


cursor.execute('''insert into PaymentHistory values ('12', 'F-12', '01','3.8','debit','3.0');''')
connectionToDatabase.commit()
cursor.execute('''insert into PaymentHistory values ('45', 'M-45', '02','4.5','debit','2.0');''')
connectionToDatabase.commit()
cursor.execute('''insert into PaymentHistory values ('3', 'F-3', '03','5.0','credit','2.6');''')
connectionToDatabase.commit()
cursor.execute('''insert into PaymentHistory values ('6', 'M-6', '04','3.7','debit','3.0');''')
connectionToDatabase.commit()
cursor.execute('''insert into PaymentHistory values ('23', 'F-23', '05','4.8','credit','2.5');''')
connectionToDatabase.commit()


cursor.execute('''insert into Delivery values ('T-12', 'Ivy', 'William','23432','45','F-12');''')
connectionToDatabase.commit()
cursor.execute('''insert into Delivery values ('T-45', 'Ben', 'Park','32432','46','M-45');''')
connectionToDatabase.commit()
cursor.execute('''insert into Delivery values ('T-3', 'Ben', 'Park','32432','60','F-3');''')
connectionToDatabase.commit()
cursor.execute('''insert into Delivery values ('T-6', 'Ivy', 'William','23432','75','M-6');''')
connectionToDatabase.commit()
cursor.execute('''insert into Delivery values ('T-23', 'Ivy', 'William','23432','35','F-23');''')
connectionToDatabase.commit()

In [0]:
#This question is important because it enables the company to be able to accurately assess customers experience with their service 
#whether its good or bad. This information can help the company significantly in terms of customer satisfaction 
#because it allows them to be able to pinpoint problems and fix them to increase good customer reviews 
#the result meets our expectation because the data we insert to this attribute is 3.8, 4.5, 5.0, 3.7, 4.8
#if we just calculate the mean of the five numbers, we can get the same answer--4.36   

# Question: what is the average service ranking?
cursor.execute('''select AVG(serviceRanking) from PaymentHistory''')
for row in cursor.fetchall():
  print (row)

(4.36,)

In [0]:
#Part of having a successful food delivery service is dependant on the quickness of the delivery process. 
#This question is an important one to know the answer to because being able to lower delivery time will increase productivity. 
#This will also help to increase customer satisfaction which will increase profits. 
#the result meets our expectation because the data we insert to this attribute is 45, 46, 60, 75, 35
#the minimum is 35; the maximum is 75

# Question: what is the range of the delivering time?
cursor.execute('''select MIN(TimelineTrack), MAX(TimelineTrack) from Delivery''')
for row in cursor.fetchall():
  print (row)

('35', '75')

In [0]:
#Knowing the average amount that customers are tipping is in direct correlation with their experience in regards to the food delivery service. 
#When a customer tips they are showing their gratitude for the service. 
#If the average is high then the company knows they are doing a good job and vice versa. 
#the result meets our expectation because the data we insert ot this attribute is 3.0, 2.0, 2.6, 3.0, 2.5
#the mean of the data is 2.62, which is consistent with the result provided here

#Question: what is the average of the tip amount paid by the customers?
cursor.execute('''select AVG(TipAmount) from PaymentHistory''')
for row in cursor.fetchall():
  print (row)

(2.62,)